---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=0f70f546c22af715fe82cd4daac6fa4e&exclude=minutely&lat=39.390897&lon=-99.066067&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3909,"lon":-99.0661,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1688070193,"sunrise":1688037120,"sunset":1688090829,"temp":89.47,"feels_like":92.01,"pressure":1009,"humidity":46,"dew_point":65.97,"uvi":7.76,"clouds":95,"visibility":10000,"wind_speed":5.12,"wind_deg":70,"wind_gust":6.26,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1688068800,"temp":89.47,"feels_like":92.01,"pressure":1009,"humidity":46,"dew_point":65.97,"uvi":7.76,"clouds":95,"visibility":10000,"wind_speed":5.12,"wind_deg":70,"wind_gust":6.26,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.02},{"dt":1688072400,"temp":89.91,"feels_like":92.34,"pressure":1009,"humidity":45,"dew_point":65.73,"uvi":6.03,"clouds":94,"visibility":10000,"wind_speed":8.55,"wind_deg":81,"wind_gust":9.73,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1688076000,"temp":90.5,"feels_like":92.53,"pressure":1008,"humidity":43,"dew_point":64.96,"uvi":4.71,"clouds":93,"visibility":10000,"wind_speed":5.32,"wind_deg":88,"wind_gust":6.98,"weather":[{"id":8[...]
